.movie-thumbnail__title {
    margin: 0;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2px;
}

.overflow{
    white-space: nowrap!important; 
    width: 100px!important;
   overflow: hidden!important;
   text-overflow: ellipsis!important; 
}

.search{
 width: 870px;
}

@media(max-width:768px)
{
    .search{
        max-width: 320px!important;
    }
}
@media(max-width:429px)
{
    .search{
        max-width: 320px!important;
    }
}

@media(max-width:1236px)
{
    .search{
        max-width: 700px!important;
    }
}
@media(max-width:988px)
{
    .search{
        max-width: 500px!important;
    }
}
@media(max-width:719px)
{
    .search{
        max-width: 100%!important;
    }
}
/* 
@media(max-width:448px)
{
    .cardsMove{
        margin-left: 20%!important;
    }
}
@media(max-width:416px)
{
    .cardsMove{
        margin-left: 15%!important;
    }
} */

.row{
    margin-right: 0px!important;
}
